body {
    box-sizing: border-box;
}
.container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex: auto;
}

#col {
    border: 1px solid black;
    flex: auto;
}

