:root {
    --main-colour: #e54b4b;
    --bkgd-colour: #8aafc5;
    --text-colour:  #f7ebe8;
    
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content {
    min-height: 100vh;
    background-color: var(--bkgd-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap:5vw;
}

.buttons {
    padding: 32px;
    border: 1px solid var(--main-colour);
    border-radius: 10px;
    background-color: var(--main-colour);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

button {
    border-radius: 5px;
    border: 1px solid var(--text-colour);
    background-color: var(--main-colour);
    color: var(--text-colour);
}

.grid-wrapper {
    background-color: var(--main-colour);
    border-radius: 10px;
    padding: 32px;
    margin: 0 auto;
}

.grid {
    padding: 0;
    margin: 0;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--text-colour);
}

.row {
    display: flex;
    flex: auto;
}

.col {
    border: 1px solid black;
    flex: auto;
}

